
<div *ngIf="form">
    <h2><span jhiTranslate="schoolNetApp.form.detail.title">Form</span> {{form.name}} (<a [routerLink]="['/school-my-suffix', form.schoolId]">{{form.schoolName}}</a>)</h2>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="table-responsive" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="schoolNetApp.form.pupils">Pupils</span></th>
                        <th><span jhiTranslate="schoolNetApp.form.parents">Parents</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let i of form.pupilsId | sortPipe">
                        <td>{{i.lastName }} {{i.firstName }}</td>
                        <td>
                            <div *ngFor="let k of i.parents | sortPipe">
                                <li >{{k.lastName }} {{k.firstName}}
                                <br>{{k.email}}
                                </li>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
