.week-schedule {
    width: 300px;
    float: left;
}
.week-schedule table {
    width: 100%;
}
.week-schedule table tr td,
.week-schedule table tr th {
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 3px;
    width: auto;
    text-align: center;
}
.overflow-hidden {
    width: 144px;
    overflow: hidden;
}
