<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 jhiTranslate="global.menu.teacher-schedule">Teacher Schedule</h1>
    </div>
    <div class="col-md-8 offset-md-2">

        <form #teacherSelectForm="ngForm">
            <div class="form-group row">
                <label for="date-select" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control" id="date-select" name="date-select" placeholder="Select a date" ngx-mydatepicker [(ngModel)]="dateObject" [options]="datepickerOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="teacher-select" class="col-2 col-form-label">Teacher</label>
                <div class="col-10">
                    <select class="form-control" id="teacher-select" name="teacher-select" [(ngModel)]="selectedID" (change)="filterSchedule()">
                        <option *ngFor="let teacher of teachers;" value="{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="period-select" class="col-2 col-form-label">Period</label>
                <div class="col-10">
                    <select class="form-control" id="period-select" name="period-select" [(ngModel)]="selectedPeriod">
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                    </select>
                </div>
            </div>
        </form>

        <div [ngSwitch]="selectedPeriod">
            <div *ngSwitchCase="'day'">

                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th class="text-center" colspan="4">{{ dateString | date: 'EEEE, dd MMMM yyyy'}}</th>
                    </tr>
                    <tr>
                        <!--<th>Date</th>-->
                        <th style="width: 10%">#</th>
                        <th style="width: 40%">Lesson</th>
                        <th style="width: 30%">Form</th>
                        <th style="width: 30%">Classroom</th>
                        <!--<th>Homework</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let schedule of schedulesWithBlanks | orderBy: 'lessonPosition'">
                        <!--<td>{{schedule.date | date: 'EEEE'}}, {{schedule.date | date: 'yyyy-MM-dd'}}</td>-->
                        <td>{{schedule.lessonPosition}}</td>
                        <td>{{schedule.lessonName}}</td>
                        <td>{{schedule.formName}}</td>
                        <td>{{schedule.classroomName}}</td>
                        <!--<td>{{schedule.homework}}</td>-->
                    </tr>
                    </tbody>
                </table>

            </div>
            <div *ngSwitchCase="'week'">WIP. Schedule by week table</div>
            <div *ngSwitchCase="'month'">WIP. Schedule by month table</div>
        </div>

    </div>
</div>
