<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 jhiTranslate="teacherSchedule.title">Teacher Schedule</h1>
    </div>

    <div class="col-md-8 offset-md-2">
        <br>
        <form #teacherSelectForm="ngForm">
            <div class="form-group row">
                <label for="date-select" class="col-2 col-form-label">
                    <span jhiTranslate="teacherSchedule.form.date">Date</span>
                </label>
                <div class="col-10">
                    <div class="input-group">
                        <input class="form-control" id="date-select" name="date-select" placeholder="Select a date" ngx-mydatepicker [(ngModel)]="dateObject" [options]="datepickerOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="teacher-select" class="col-2 col-form-label">
                    <span jhiTranslate="teacherSchedule.form.teacher">Teacher</span>
                </label>
                <div class="col-10">
                    <select class="form-control" id="teacher-select" name="teacher-select" [(ngModel)]="selectedID" (change)="filterSchedule()">
                        <option *ngFor="let teacher of teachers;" value="{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="period-select" class="col-2 col-form-label">
                    <span jhiTranslate="teacherSchedule.form.period.title">Period</span>
                </label>
                <div class="col-10">
                    <select class="form-control" id="period-select" name="period-select" [(ngModel)]="selectedPeriod" (change)="filterSchedule()">
                        <option value="day"><span jhiTranslate="teacherSchedule.form.period.day">Day</span></option>
                        <option value="week"><span jhiTranslate="teacherSchedule.form.period.week">Week</span></option>
                    </select>
                </div>
            </div>
        </form>

        <br>
        <div [ngSwitch]="selectedPeriod">
            <div *ngSwitchCase="'day'" class="day-schedule">

                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="4">{{ dateString | date: 'dd.MM.yyyy'}}</th>
                    </tr>
                    <tr>
                        <th style="width: 1%"><span jhiTranslate="teacherSchedule.schedule-table.subject-position">#</span></th>
                        <th style="width: 49%"><span jhiTranslate="teacherSchedule.schedule-table.subject">Subject</span></th>
                        <th style="width: 25%"><span jhiTranslate="teacherSchedule.schedule-table.form">Form</span></th>
                        <th style="width: 25%"><span jhiTranslate="teacherSchedule.schedule-table.classroom">Classroomn</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let daySchedule of resultSchedule | orderBy: 'lessonPosition'">
                        <td>{{daySchedule.lessonPosition}}</td>
                        <td>{{daySchedule.lessonName}}</td>
                        <td>{{daySchedule.formName}}</td>
                        <td>{{daySchedule.classroomName}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div *ngSwitchCase="'week'">

                <ng-template let-weekSchedule ngFor [ngForOf]="resultSchedule" let-i="index">
                    <div class="week-schedule">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="4"><span jhiTranslate="teacherSchedule.day-of-week.day{{i + 1}}"></span>, {{weekSchedule.day | date: 'dd.MM.yyyy'}}</th>
                                </tr>
                                <tr>
                                    <th style="width: 5%"><span jhiTranslate="teacherSchedule.schedule-table.subject-position">#</span></th>
                                    <th style="width: 85%"><span jhiTranslate="teacherSchedule.schedule-table.subject">Subject</span></th>
                                    <th style="width: 5%"><span jhiTranslate="teacherSchedule.schedule-table.form">Form</span></th>
                                    <th style="width: 5%"><span jhiTranslate="teacherSchedule.schedule-table.classroom">Classroomn</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let daySchedule of weekSchedule.schedule">
                                    <td>{{daySchedule.lessonPosition}}</td>
                                    <td><div class="overflow-hidden">{{daySchedule.lessonName}}</div></td>
                                    <td>{{daySchedule.formName}}</td>
                                    <td>{{daySchedule.classroomName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>

            </div>
        </div>

    </div>
</div>
