<h2 *ngIf="account">Welcome <b>{{account.firstName}} {{account.lastName}}</b></h2>
<jhi-alert></jhi-alert>
<div *ngIf="currentPupil">
<span class="lessonsButtons" *ngIf="pupilLessons">
        <span *ngFor="let lesson of pupilLessons">
                <button type="submit" class="btn" (click)="findAllByPupilAndLessonId(currentPupil.id, lesson.id)">
                    <span class="hidden-md-down">{{lesson.name}}</span>
                </button>
        </span>
</span>
<div class="table-responsive2" *ngIf="pupilAttendances">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="grades.grade">Grade</span></th>
            <th><span jhiTranslate="grades.date">Date</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attendance of pupilAttendances">
            <td>{{attendance.grade | gradesPipe}}</td>
            <td>{{attendance.date | date:'shortDate'}}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <h3><span jhiTranslate="grades.average">Average grade : </span> {{getAverageGrade() | number:'1.0-2'}}</h3>
    </div>
</div>
</div>
