<div class="col-md-8 offset-md-2">
    <form #teacherSelectForm="ngForm">
        <label><span jhiTranslate="schoolNetApp.teacher.form.label">You can use the filter</span></label>
        <div class="form-group row">
            <label for="date-select" class="col-2 col-form-label"><span jhiTranslate="schoolNetApp.teacher.form.date">Date</span></label>
            <div class="col-10">
                <input class="form-control" type="date" id="date-select" name="dateSelect" [ngModel]="selectedDate" (ngModelChange)="onChangeDate($event)">
            </div>
        </div>
        <div class="form-group row">
            <label for="lesson-select" class="col-2 col-form-label"><span jhiTranslate="schoolNetApp.teacher.form.lesson">Lesson</span></label>
            <div class="col-10">
                <select class="form-control" id="lesson-select"  name="lessonSelect" [ngModel]="selectedLessonId" (ngModelChange)="onChangeLesson($event)">
                    <option *ngFor="let lesson of lessons" [value]="lesson.id">{{lesson.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="form-select" class="col-2 col-form-label"><span jhiTranslate="schoolNetApp.teacher.form.form">Form</span></label>
            <div class="col-10">
                <select class="form-control" id="form-select" name="formSelect" [ngModel]="" (ngModelChange)="onChangeForm($event)">
                    <option *ngFor="let form of forms;" [value]="form.id">{{form.name}}</option>
                </select>
                <div class="form-group row">
                    <div class="col-10">
                        <button class="btn" (click)="clear()"><span jhiTranslate="schoolNetApp.teacher.form.buttonClear">Clear fields</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <h3>
        <span jhiTranslate="schoolNetApp.teacher.table.tableLabel">This is your personal schedules</span>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="filteredSchedules">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="schoolNetApp.teacher.table.date">Date</span></th>
                <th><span jhiTranslate="schoolNetApp.teacher.table.lessonPosition">Lesson Position</span></th>
                <th><span jhiTranslate="schoolNetApp.teacher.table.lesson">Lesson</span></th>
                <th><span jhiTranslate="schoolNetApp.teacher.table.classroom">Classroom</span></th>
                <th><span jhiTranslate="schoolNetApp.teacher.table.form">Form</span></th>
                <th><span jhiTranslate="schoolNetApp.teacher.table.homework">Homework</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedule of filteredSchedules | sortByDate ">
                <td>{{schedule.date | date: "shortDate"}}</td>
                <td>{{schedule.lessonPosition}}</td>
                <td>
                    <div *ngIf="schedule.lessonId">
                        <span>{{schedule.lessonName}}</span>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedule.classroomId">
                        <span>{{schedule.classroomName}}</span>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedule.formId">
                        <span>{{schedule.formName}}</span>
                    </div>
                </td>
                <td>
                    <div>
                        <p>{{schedule.homework | lengthPipe: 20}}</p>
                    </div>
                </td>
                <td>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'teacher-home-popup-homework/'+ schedule.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="schoolNetApp.teacher.table.editButton">Edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
