<div>
    <h2>{{selectedDate | date:'shortDate'}}</h2>

    <h2>
        <span jhiTranslate="schedule.title">User Schedules</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pupilSchedules">
        <table class="table table-striped">
            <thead>
            <tr>
                    <th><span jhiTranslate="schedule.lesson-position">Lesson Position</span></th>
                    <th><span jhiTranslate="schedule.lesson">Lesson</span></th>
                    <th><span jhiTranslate="schedule.homework">Homework</span></th>
                    <th><span jhiTranslate="schedule.classroom">Classroom</span></th>
                    <th><span jhiTranslate="schedule.teacher">Teacher</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedule of getSchedulesWithBlanks()">
                    <td>{{schedule.lessonPosition}}</td>
                    <td>
                        <div *ngIf="schedule.lessonId">
                            {{schedule.lessonName}}
                        </div>
                    </td>
                    <td><a (click)="showDialog = !showDialog" (click)="selectHomework(schedule.homework)">
                                            {{schedule.homework | lengthPipe : 10}}</a></td>
                    <td>
                        <div *ngIf="schedule.classroomId">
                            {{schedule.classroomName}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="schedule.teacherId">
                            {{schedule.teacherFirstName + ' ' +schedule.teacherLastName}}
                        </div>
                    </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<homework-modal [(visible)]="showDialog">
    {{selectedHomework}}
</homework-modal>
