<div>
    <h2>
        <span>User Schedules</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userSchedules">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Date</span></th>
                <th><span>Homework</span></th>
                <th><span>Lesson Position</span></th>
                <th><span>Enabled</span></th>
                <th><span>Lesson</span></th>
                <th><span>Form</span></th>
                <th><span>Classroom</span></th>
                <th><span>Teacher</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedule of userSchedules ;trackBy: trackId">
                <td><a [routerLink]="['../schedule-my-suffix', schedule.id ]">{{schedule.id}}</a></td>
                <td>{{schedule.date | date:'medium'}}</td>
                <td>{{schedule.homework}}</td>
                <td>{{schedule.lessonPosition}}</td>
                <td>{{schedule.enabled}}</td>
                <td>
                    <div *ngIf="schedule.lessonId">
                        <a [routerLink]="['../lesson-my-suffix', schedule.lessonId  ]" >{{schedule.lessonName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedule.formId">
                        <a [routerLink]="['../form-my-suffix', schedule.formId  ]" >{{schedule.formName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedule.classroomId">
                        <a [routerLink]="['../classroom-my-suffix', schedule.classroomId  ]" >{{schedule.classroomName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="schedule.teacherId">
                        <a [routerLink]="['../teacher-my-suffix', schedule.teacherId  ]" >{{schedule.teacherId}}</a>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
