<h2 *ngIf="account">Welcome <b>{{account.login}}</b></h2>

<br>

<!--<a *ngFor="let month of months">{{month.name}}</a>-->

<ul>
    <li><a>January</a></li>
    <li><a>February</a></li>
    <li><a>March</a></li>
    <li><a>April</a></li>
    <li><a [routerLink]>May</a></li>
    <li><a>June</a></li>
    <li><a>July</a></li>
    <li><a>August</a></li>
    <li><a>September</a></li>
    <li><a>October</a></li>
    <li><a>November</a></li>
    <li><a>December</a></li>
    <jhi-user-home-schedules></jhi-user-home-schedules>
</ul>
